{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>app1</title>
    <link rel="stylesheet" href="{% static 'css/app2.css' %}">
</head>
<body>
    <h1>
        <center>REDDY</center>
    </h1>
    <h1>
        <center>
            <a href="{% url 'something:app1' %}">For app1 LINK CLICK HERE</a>
        </center>
    </h1>
    
</body>
</html>